<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class = "input-label">User </span>
        <input type="text" placeholder="ชื่อผู้ใช้" ng-model="form.txt_user">
      </label>

      <label class="item item-input">
        <span class = "input-label">Password </span>
        <input type="text" placeholder="รหัสผ่าน" ng-model="form.txt_pwd">
      </label>

      <button class="button button-full" ng-click="btn_login()">Login</button>
    </div>
  </ion-content>
</ion-view>

